/* IMPOSTAZIONI GENERALI */

/* HEADER */
header{
    background-color: rgba(0,160,198,255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 30px;
    height: 200px;
    line-height: 2.5em;  
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    text-align: center;
}

h2{
    color: rgba(0,160,198,255);
}

.computer{
    text-align: center;
}

.fanculo{
    color: rgba(128, 128, 128, 0.63);
    border: 1px solid #000;
    padding: 10px;
}

figcaption{
    text-align: center;
}

span{
    background-color: white;
    text-transform: uppercase;
    color: rgba(0,160,198,255);
}

/* MAIN */
body{
    text-align:start;   
}

a:link {
    color: brown;
}

.wow{ 
background-color: grey;
font-style: italic;
text-align: center;
border-radius: 10px;
padding: 20px;
}

strong{
    color: rgba(0,160,198,255);
}

mark{
    color: white;
    background-color: rgba(0,160,198,255);
}

/* ELEMENTI NEL MAIN */

/* FOOTER */

kbd{
    color: yellow;
}

footer{
    background-color: rgba(0, 0, 0, 0.815);
    text-align: center;
    color: white;
    padding: 20px;  
}

*{font-family: 'Raleway', sans-serif;}